* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background: #3e6bdc;
  background: linear-gradient(135deg, #3e6bdc, #3b9198);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.notice-board {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  height: 400px;
}

.notice-content {
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
